@page "/user/edit/{userId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Edit</h3>
<Form ButtonText="Update" user="user"
      OnValidSubmit="@EditUser" />
@code {
    [Parameter] public int userId { get; set; }
    User user = new User();
    protected async override Task OnParametersSetAsync()
    {
        user = await http.GetFromJsonAsync<User>($"api/user/{userId}");
    }
    async Task EditUser()
    {
        await http.PutAsJsonAsync("api/user", user);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("user");
    }
}